body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* gap: 30px; */
  /* border: 1px solid blueviolet; */
}

.input-block{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input{
  padding: 4px 8px;
}

button{
  background-color: black;
  padding: 4px 10px;
  color: white;
  border-radius: 5px;
}
.timer-display{
  margin-top: 25px;
  font-size: 100px;
  /* height: 100%; */
  height: 100px;
  padding: 0px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* text-align: center; */
  

  border: 1px solid rgb(33, 23, 43);
}